@import url("bower_components/fira/fira.css");
@import url("bower_components/bulma/css/bulma.css");
@import url("bower_components/font-awesome/css/font-awesome.min.css");

/*
	TODO: chat window
	TODO: create/join session
	TODO: error display
*/

/* FONT-RELATED */

* {
	font-family: "Fira Sans";
}

h1.title {
	font-weight: 400;
}

h2.subtitle {
	font-weight: 400;
}

/* GENERAL STYLE */

.draggable {
	width: 100%;
	height: 2em;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background-color: #313131;
}

.hero {
	margin-top: 2em;
}

body {
	background: url(assets/title-background.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.section {
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

.input {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0);
}

.input:active,
.input:focus,
.input:hover {
	border: 1px solid #F27CFD;
}

.button.is-success.custom {
	background-color: #F27CFD;
	border-radius: 0px;
}

/* PAGE X STYLE */