@import url("bower_components/fira/fira.css");
@import url("bower_components/bulma/css/bulma.css");
@import url("bower_components/font-awesome/css/font-awesome.min.css");

/*
	TODO: chat window
	TODO: create/join session
	TODO: error display
*/

/* FONT-RELATED */

* {
	font-family: "Fira Sans";
}

h1.title {
	font-weight: 400;
}

h2.subtitle {
	font-weight: 400;
}

/* GENERAL STYLE */

.draggable {
	width: 100%;
	height: 24px;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background-color: #282828;
}

.hero {
	margin-top: 24px;
}

body {
	background: url(assets/title-background.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.section {
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

.input {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.input:active,
.input:focus,
.input:hover {
	border: 1px solid #F27CFD;	
}

.button.is-success.custom:hover {
	background-color: rgb(242, 124, 253);
	transition: 0.4s;
}

.button.is-success.custom {
	background-color: rgba(242, 124, 253, 0.8);
	border-radius: 0px;
	transition: 0.4s;
}

.modal .subtitle:not(:last-child) {
	margin-bottom: 1.1rem;
}

.connect-button.custom,
.create-button.custom {
	width: 100%;
	height: 40%;
	font-size: 3rem;
	line-height: 10rem;
}

.main-ui .chat {
	width: 325px;
	right: 0;
	top: 24px;
	bottom: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
}

.main-ui .input.chat {
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	position: absolute;
	top: 85%;
	width: 100%;
}

.main-ui .chatbox,
.main-ui h1.title {
	color: #fff;
}

.main-ui .chat .section {  
	padding: 1.5rem;
}

.main-ui .chat .chatbox {
	top: 0%;
	height: 85%;
	width: 100%;
	padding: 1em;
	position: absolute;
	box-sizing: border-box;
	overflow: scroll;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-ui .chat .controls {
	top: 90%;
	width: 100%;
	position: absolute;
}

.main-ui .chat .controls .icon {
	color: rgba(242, 124, 253, 0.8);
}

.main-ui .chat .controls .icon:hover {
	color: rgb(242, 124, 253);
	cursor: pointer;
}

.main-ui .chat .controls span {
	padding-top: 5%;
}

.main-ui .progress {
	width: 1276px;
	padding-left: 2px;
	padding-right: 2px;
	bottom: 8px;
	position: absolute;
	left: 0;
}

::-webkit-scrollbar-thumb {
	background-color: #F27CFD;
}